@media (max-width: 800px) {
    .container {
        max-width: 100%; /* Ensure it takes full width */
    }
    
    .column {
        flex: 1 1 50%; /* Change to 2 columns */
        margin: 10px 0; /* Adjust margin for better spacing */
    }

    .column:nth-child(2n+1) {
        margin-right: 0; /* Remove right margin for odd columns */
    }

    .full-width-images {
        display: flex;
        flex-direction: column; /* Stack images vertically */
        margin: 0 auto; /* Center align */
    }

    .image-wrapper {
        width: 100%; /* Ensure full width */
        margin-bottom: 20px; /* Add some space between images */
    }

    

}
@media (max-width: 500px) {
    .container {
        max-width: 100%; /* Ensure it takes full width */
    }

    .column {
        flex: 1 1 calc(50% - 10px); /* Change to 1 column, subtracting margin */
        margin: 10px 5px; /* Adjust margin for better spacing */
    }

    /* Ensure pairs of columns */
    .column:nth-child(even) {
        margin-right: 10px; /* Add right margin for even columns */
    }

    .column:nth-child(odd) {
        margin-right: 0; /* Remove right margin for odd columns */
    }

    .full-width-images {
        display: flex;
        flex-direction: column; /* Stack images vertically */
        margin: 0 auto; /* Center align */
    }

    .image-wrapper {
        width: 100%; /* Ensure full width */
        margin-bottom: 20px; /* Add some space between images */
    }
}

@font-face {
    font-family: 'VTC-KomikaHeadLinerTwo Bold';
    font-style: normal;
    font-weight: normal;
    src: local('VTC-KomikaHeadLinerTwo Bold'), url('VTC-KreepyKomikaTwo-Bold.woff') format('woff');
    }

/* Original CSS for other screen sizes */
html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-inteiro {
    position: fixed;
    width: 100%; /* Adiciona esta linha para garantir que o menu completo ocupe a largura total */
    top: 0; /* Garante que o menu fique no topo da página */
    z-index: 1000; /* Mantém o menu acima de outros conteúdos */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    background-color: white;
}

.bakery-name {
    font-family: 'VTC-KomikaHeadLinerTwo Bold';
    font-weight: normal;
    font-size: 42px;
    color: #EA6A79;
    margin-left: 10px;
    transition: font-size 0.3s; /* Adicionando transição para suavizar a mudança de tamanho */
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #6D3E35;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #EA6A79;
}

.cart-icon {
    width: 24px;
    height: 24px;
    background-color: rgb(161, 38, 38);
    margin-left: 15px;
    margin-right: 50px;
    border-radius: 4px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-right: 40px;
}
.hamburger-menu:hover {
    opacity: 0.8;
}

.hamburger-menu .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.mobile-nav-links {
    display: none;
    flex-direction: column;
    position: fixed; /* Muda de absolute para fixed */
    top: 120px; /* Ajuste conforme necessário para posicionar corretamente */
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 1100;
    width: 100%;
}

.mobile-nav-links a {
    padding: 10px;
    color: #6D3E35;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.mobile-nav-links a:hover {
    background-color: #f0f0f0;
}

.mobile-nav-links hr {
    border: 0;
    height: 1px;
    background: #686868;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}


.hero {
    background-image: url('imgs/hero.jpg');
    background-size: cover; /* Use cover to ensure the background covers the entire container */
    background-position: center;
    width: 100%;
    height: 700px; /* Adjust the height as needed */
    position: relative;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}



.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.hero-content h2 {
    margin: 0 0 10px 0;
}

.hero-content button {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.top-sellers {
    text-align: center; /* Center horizontally */
    height: 50px; /* Adjust the height as needed */
    display: flex;
    justify-content: center; /* Center horizontally */
    padding-top: 60px;

}

.top-sellers h2 {
    margin: 0; /* Reset margin */
}


h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #6D3E35;
}


.container {
        max-width: 1000px;
    padding: 50px;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align columns horizontally */
    text-align: center; /* Center align text inside columns */

}

.container h2 {
    color: #6D3E35;
}

.column {
    flex: 1 1 200px;
    margin: 0 10px 20px;
    border-radius: 8px;
    text-align: center; /* Align text content inside columns to the left */
}



.column img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.column h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.column p {
    margin: 5px 0;
}


.full-width-images {
    display: flex;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
}

.image-wrapper {
    position: relative;
    flex: 1;
    margin: 0;
}

.full-width-images img {
    width: 100%;
    height: auto;
    display: block;
}

.full-width-images img:hover {
opacity: 0.8;
cursor: pointer;
}

.full-width-images .img-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EA6A79;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.9

}

.full-width-images .img-button:hover {
    background-color: #6D3E35;
}
    

.gallery {
    position: relative;
    overflow: hidden;
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.img-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 15px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

footer {
    background-color: #6D3E35;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
}

footer a {
    color: #f8b400;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.scroll-to-top-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    text-decoration: none;
}

.scroll-to-top-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px; /* Espaço suficiente para a barra de menu fixa */
    padding: 30px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
}

.search-bar select {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.search-bar button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}


.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas */
    gap: 10px 20px; /* Espaçamento vertical 10px, horizontal 20px */
    width: 80%; /* Largura ajustada */
    margin: 0 auto; /* Centraliza horizontalmente */
}

.product-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 100%; /* Utiliza toda a largura da coluna da grid */
}

.pagination {
    margin-top: 20px;
    text-align: center; /* Centraliza os botões de paginação */
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    padding-top: 120px; /* Adjust to make space for the fixed menu */
    padding-bottom: 70px; /* Adjust to make space for the fixed menu */
}

.contact-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
    max-width: 1000px;
    width: 100%; /* Adjusted for responsiveness */
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.contact-form {
    flex: 1;
    margin-right: 20px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-form textarea {
    resize: vertical;
    min-height: 150px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #EA6A79;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.contact-info {
    flex: 0.5; /* Adjust the flex value to make the contact info section occupy less space */
    margin-left: 20px; /* Add margin to separate it from the form */
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-info ul li a {
    text-decoration: underline;
    font-weight: bold;
    color: #EA6A79;
}

.contact-info ul li {
    list-style-type: none; /* Removes the default bullet */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        padding: 30px;
    }
    
    .contact-form,
    .contact-info {
        width: 100%; /* Ensure both sections take full width on small screens */
        margin-right: 0; /* Reset margin */
        margin-left: 0; /* Reset margin */
    }
    
    .contact-form {
        margin-bottom: 20px; /* Add some spacing between form and info */
    }
}
@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }

    .search-bar {
        flex-direction: column; /* Stack search bar elements vertically */
        align-items: center; /* Center items horizontally */
    }

    .search-bar select {
        margin: 10px 0; /* Adjust margin for spacing */
    }

    .pagination {
        margin-top: 20px; /* Maintain top margin for pagination */
    }
}

@media (max-width: 480px) {
    .product-list {
        grid-template-columns: 1fr; /* Single column on very small screens */
    }

    .product-item button {
        display: block;
        padding: none;
        background-color: #EA6A79;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: none;
        margin: 0 auto; /* Center the button horizontally */
    }
}

.product-item {
    text-align: center; /* Ensure product items are centered */
    margin-bottom: 20px; /* Add space between product items */
}

.product-item button {
    display: block;
    padding: 15px 20px; /* Adjust padding for larger clickable area */
    background-color: #EA6A79;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto; /* Center the button horizontally */
}

.product-item button:hover {
    background-color: #6D3E35;
}


.product-item h3 {
    color: #6D3E35;
    margin-bottom: 10px; /* Add space below heading */
}

.product-item img {
    max-width: 100%;
    height: auto;
    max-height: 250px;
    margin-bottom: 10px; /* Add space below image */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.overlay img {
    max-width: 50%;
    max-height: 400px;
}

.overlay-text {
    max-width: 50%;
    overflow-y: auto;
    font-size: 14px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
}


    .product-item {
        text-align: center;
    }

    .product-item button {
        display: block;
        width: 50%;
        max-width: 400px;
        padding: 10px 20px;
        background-color: #EA6A79;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 auto 10px;
    }

    .product-item button:hover {
        background-color: #6D3E35;
    }

    .product-item button::-moz-focus-inner,
    .product-item button:focus {
        outline: none;
    }

    .product-item h3 {
        color: #6D3E35; 
    }

    .product-item img {
        max-width: 100%;
        height: auto;
        max-height: 250px;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
        padding: 20px;
        box-sizing: border-box;
    }

    .overlay-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 800px;
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .overlay img {
        max-width: 50%;
        max-height: 400px;
    }

    .overlay-text {
        max-width: 50%;
        overflow-y: auto;
    }

    .overlay-text {
        font-size: 14px;
    }

    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        color: white;
        font-size: 50px;
        cursor: pointer;
    }



 
    .container2 {
        padding: 20px;
        max-width: 1100px;
        margin: auto;
    }
    .header {
        margin-bottom: 20px;
        margin-top: 13%;
    }
    .header h2 {
        margin: 0;
        color: #6D3E35;

    }
    .profile, .bunnies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .profile-text, .bunny-text {
        flex: 1 1 45%;
        margin-right: 20px;
    }
    .profile img, .bunnies img {

        flex: 1 1 45%;
        max-width: 30%;
        height: auto;
        border-radius: 10px;
    }
    .profile p, .bunnies p {
        margin: 0 0 10px;
        line-height: 1.6;
    }
    .bunny {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .bunny:nth-child(odd) .bunny-text {
        order: 2;
        margin-right: 0;
        margin-left: 20px;
    }
    .bunny:nth-child(odd) img {
        order: 1;
    }
    .bunny h3 {
        color: #6D3E35;
        margin: 10px 0;
        font-size: 20px;
    }
    @media (max-width: 800px) {
        .profile, .bunnies {
            flex-direction: column;
            align-items: center;
        }
        .profile-text, .bunny-text, .profile img, .bunnies img {
            max-width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
        .bunny {
            flex-direction: column;
        }
        .bunny:nth-child(odd) .bunny-text, .bunny:nth-child(odd) img {
            order: unset;
            margin-left: 0;
        }
        .header {
            margin-bottom: 20px;
            margin-top: 30%;
        }
    }